# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\myWork\hj03_polls\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
